/* Estilos para la barra de navegación con degradado de color */
.navbar-expand-lg.bg-body-tertiary {
  background: linear-gradient(to right, #4d6de3, #203376);
  border-radius: 0; /* Bordes suaves en la parte superior */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Cambiar el color del texto dentro de la barra de navegación */
.navbar-expand-lg.bg-body-tertiary .navbar-nav .nav-link {
  color: white;
}

/* Cambiar color del sub menú */
.dropdown-menu{
  background: linear-gradient(to right, #4d6de3, #203376);
  border-radius: 0; /* Bordes suaves */
}

/* Cambiar color de las letras del menú */
.dropdown-item{
  color: white;
}

/* Color de el logo de la empresa */
.navbar-brand{
  background: linear-gradient(to right, yellow 10%, rgb(7, 245, 213) 50%, red 30%, orange 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

/* Estilo para el carrusel */
/* Estilo para el carrusel */
#customCarousel {
  max-width: 500px; /* Ancho máximo del carrusel */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 1.5%;
}

/* Estilo para las imágenes dentro del carrusel */
#customCarousel .carousel-inner img {
  width: 100%; /* Tamaño fijo de las imágenes */
  height: 500px; /* Altura automática para mantener la proporción */
  border-radius: 10px; /* Bordes suaves y redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


/* Configuración para la galería de imágenes */
header {
  background: linear-gradient(to right, #C7EEFF, #b0c0fa);
  color: black;
  padding: 20px 0; /* Mayor espacio en la parte superior e inferior */
  text-align: center;
  border-radius: 10px; /* Bordes suaves y redondeados */
  margin-bottom: 20px; /* Espacio inferior entre secciones */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Tamaño adaptable */
  gap: 20px;
  padding: 20px;
}

.gallery img {
  width: 100%; /* Ancho del 100% del contenedor */
  height: 300px; /* Altura fija */
  object-fit: cover; /* Escala la imagen para llenar el espacio */
  border-radius: 10px; /* Bordes suaves y redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease; /* Transición suave al pasar el ratón */
}

.gallery img:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

 